.info-card{
    padding: 0 10px;
}


.info-icon{
    font-size: 3em;
    color: #232323;
}
.info-icon:hover{
    color: #218838;
}
.info-container{
    height: 180px;
    padding: 50px;
}
.info-name:hover{
    color: #218838;
}