.service-card:hover{
    background-color: #232323;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.service-card button:hover{
    background-color: #fff;
    color: #232323;
    border: 0;
}