.Login-form{
    text-align: center;
    width: 50%;
    margin-left: 350px;
}
.login-icon{
    height: 100%;
    margin-right: 5%;
}
@media only screen and (max-width: 600px) {
    .Login-form {
      margin-left: 100px;
    }
  }